<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kidzania.vehiclespuzzlegame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Fullscreen">
        <activity
            android:name=".FlashScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Start"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Taxi"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fire"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Finish"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Hospital"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bus"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SliceBan"
            android:screenOrientation="landscape" />
    </application>

</manifest>